@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900&display=swap');
h1 {
  font-family: 'Montserrat', sans-serif;
}

.font-black {
  font-weight: 900;
}
.font-semibold {
  font-weight: 500;
}
.font-bold {
  font-weight: 700;
}
.font-extrabold {
  font-weight: 800;
}
.text-white {
  color: #fff;
}
