@import 'main';

.main {
  height: 100vh;
  .spotify-link {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: bold;
    height: 40px;
    background-color: #fff;
    padding: 10px 15px 10px 10px;
    border-radius: 20px;
    color: #191919;
    font-size: 13px;
    text-decoration: none;
    transition: box-shadow 0.3s;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  }
  .spotify-logo {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
}
